[Unit]
Description=First Boot Script
After=network.target
Before=graphical.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/tahti/firstBoot.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
